CONFIG_PREBOOT="env delete -f ethaddr;env delete -f eth1addr;env set boot_targets pxe;usb start;"
CONFIG_USE_PREBOOT=y
CONFIG_BOOTCOMMAND="bootflow scan -lbG"
CONFIG_BOOTP_PREFER_SERVERIP=y
CONFIG_BOOTSTD_FULL=y
# CONFIG_NET_LWIP=y
# CONFIG_LWIP_DEBUG=y
CONFIG_CMD_DNS=y
CONFIG_CMD_NFS=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MEMINFO_MAP=y
CONFIG_CMD_MISC=y
CONFIG_CMD_RNG=y

CONFIG_DM_WARN=y
CONFIG_SPL_DM_WARN=y
CONFIG_LOGLEVEL=6
CONFIG_SPL_LOGLEVEL=6

CONFIG_IP_DEFRAG=y
# CONFIG_TFTP_BLOCKSIZE=14860
CONFIG_TFTP_BLOCKSIZE=16352

CONFIG_USB_HOST_ETHER=y
CONFIG_USB_ETHER_CDC_NCM=y
